<form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm)" novalidate>
    <div class="mb-3">
        <label>Name</label>
        <input class="form-control" name="name" #name="ngModel" 
        [(ngModel)]="book.name" placeholder="Name" required>
    </div>
    <div class="mb-3">
        <label>IFSC</label>
        <input class="form-control" name="ifsc" #name="ngModel" 
        [(ngModel)]="book.ifsc" placeholder="IFSC" required>
    </div>
    <div class="mb-3">
        <label>ACCOUNT</label>
        <input class="form-control" name="password" #name="ngModel" 
        [(ngModel)]="book.account" placeholder="ACCOUNT" required>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary" 
          [disabled]="!bookForm.valid">
        CREATE</button>
        &nbsp;&nbsp;&nbsp;&nbsp;

     </div>
</form>